#msg_all {
	position: relative;
	overflow: auto;
	height: calc(100vh - 40px);
	/* 100vh -  input_area的height 40px*/
}

#header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 0 0 0.1em 0;
    margin: 0;
    font-size: 1.7em;
    line-height: 1.7em;
    box-shadow: 0px 0px 8px 2px #d0d0d0;
}

#input_area {
	display: flex;
	width: 100%;
	height: 40px;
}

#more_btn {
	padding: 5px 0;
	width: 68%;
	margin: 12px auto 0 auto;
	display: none;
}

#msg_list {
	padding: 12px 16%;
}

.msg {
	overflow-wrap: break-word;
}

.date {
	display: inline-block;
	margin: 0;
	float: right;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}